<div class="modal fade" id="deleteDialogModal">
    <div class="modal-dialog " style="width:50%">
        <div class="modal-content ">
            <div class="modal-header modal-danger bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center">Delete</h4>
            </div>
            <div class="modal-body">
                <center>
                 <img src="images/icons/256/full_trash-256.png" class="img-circle" alt="User Image">
                <p>You are about to delete this item. Are you sure you want to procceed?</p>
            </center>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-danger" ng-click="deletePost(active_delete_id, active_delete_type)">Delete <i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>