<div class="modal fade" id="newUserDialogModal" ng-controller="UserController">
    <div class="modal-dialog " style="width:50%">
        <div class="modal-content ">
            <div class="modal-header modal-primary bg-blue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center">New User</h4>
            </div>
            <div class="modal-body">

                <div class="callout callout-danger" ng-if="errors_count>0">
                    <ul>
                        <li ng-repeat="error in form_errors">{{ error[0] }}</li>
                    </ul>
                </div>

                <form class="form-horizontal" ng-submit=createUser() method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" ng-model="name" class="form-control" placeholder="Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                        <input type="email"  ng-model="email" class="form-control" placeholder="Email">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" ng-model="password" class="form-control" placeholder="Password">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Role</label>
                      <div class="col-sm-10">
                        <select class="form-control" ng-model="role">
                            <option>Adminstrator</option>
                            <option>Standard</option>
                        </select>
                      </div>
                    </div>
                    
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                  </div><!-- /.box-footer -->
                </form>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>