<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="images/icons/avatar4.png" class="img-circle" alt="User Image">
            </div>
           
          </div>
       
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="treeview">
              <a href="#">
                <i class="fa fa-plus-square"></i>
                <span>Add New</span>
              </a>
              <ul class="treeview-menu menu-open" style="display: block;">
                
                <li><a href="#/editor/?is_page=true&is_fresh=true"><i class="fa fa-circle-o"></i> Faculty</a></li>
                <li><a href="#/editor/?is_fresh=true"><i class="fa fa-circle-o"></i> News</a></li>
              </ul>
            </li>
            <li><a href="#/faculty"><i class="fa fa-building-o"></i> <span>Faculties</span></a></li>
            <li><a href="#/posts"><i class="fa fa-globe"></i> <span>News</span></a></li>
            <li><a href="/"><i class="fa fa-desktop"></i> <span>Website</span></a></li>
            <li><a href="#/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
            <li><a href="/auth/logout"><i class="fa fa-lock"></i> <span>Signout</span></a></li>
          </ul>
            
        </section>
        <!-- /.sidebar -->
      </aside>