#loading-bar .bar {
	height: 10px;
	background: orange;

}

#loading-bar-spinner .spinner-icon {
  width: 45px;
  height: 45px;

  border:  solid 2px transparent;
  border-top-color:  orange;
  border-left-color: orange;
  border-radius: 50%;
  }