<div class="error-page">
    <center>
      <img ng-src="icons/144/filing_cabinet-144.png" alt="locked region" />
      <h3 class="text-bold">Error 404 -Resourse Not Found</h3>
      <p>
        We could not find the page or resource you were looking for. This may be due to a broken link or mistyped link.
      </p>
    </center>
</div>
