<section ng-controller="PortalController" ng-init=initEditor()>
    <div class="col-lg-12 text-center">
        <h2 class="">{{ editor_title}}</h2>
    </div>


    <div class="col-lg-9 panel">

        <div class="panel-body">
            <div class="col-md-12 ">
                <!-- Horizontal Form -->
                <div class="box box-solid">
                    <div class="box-header">
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal"  method="post" ng-submit="create()" name="CreateForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label><h3 ng-if="flagged_as_event || posts.is_event == 1" class="label label-success label-pill">Event</h3>
                                    {{ editor_heading}} </label>
                                <input type="text" class="form-control" placeholder="" ng-model="heading">
                            </div>
                            


                            <div class="form-group">
                                <div id="editor-containers" ng-class="{
                                            'hidden':!edit_mode}">
                                    <textarea   class="form-control textarea"  id="text-area-og" name="objectives"  ng-bind-html="content" ng-model="text_editor" style="width: 100%; height: 500px;">

                                    </textarea>
                                </div>
                                <div id="sandbox" ng-show="!edit_mode">

                                </div>
                            </div>  

                        </div><!-- /.box-body -->

                    </form>
                </div><!-- /.box -->

            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="box box-solid">

            <div class="box-header with-border">
                <h3 class="box-title">Options</h3>
            </div><!-- /.box-header -->

            <div class="box-body">
                <button class="btn btn-default btn-md btn-block text-bold" ng-click=previewMode() ng-show="edit_mode"><i class="fa fa-eye"></i> Preview Mode</button>
                <button class="btn btn-default btn-block ng-hide" ng-show="!edit_mode" ng-click="edit_mode = true"><i class="fa fa-edit"></i> Edit Mode
                </button>
                <button class="btn btn-success btn-block" ng-click="create()"><i class="fa fa-save"></i> Save</button>
                <button class="btn btn-success btn-block" ng-if="flagged_as_event==undefined || posts.is_event != 1" ng-click="flagAsEvent(posts.id, 1)"><i class="fa fa-calendar"></i> Flag As Event</button>
                <button class="btn btn-danger btn-block" ng-if="flagged_as_event || posts.is_event == 1" ng-click="flagAsEvent(posts.id, 0)"><i class="fa fa-calendar"></i> Unflag As Event</button>


            </div><!-- /.box-body -->
        </div>
        <div class="box box-warning" ng-if=show_dept_panel>
            <div class="box-header with-border">
                <h3 class="box-title">Departments</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list">
                    <li ng-repeat="dept in posts.departments">
                        <a href="#/editor/?is_page=true&id={{dept.id}}&dept={{dept.id}}" class="text"><i class="fa fa-circle-o text-red"></i> {{ dept.name}}</a>

                    </li>
                </ul>

                <center ng-if="posts.departments.length == 0">
                    <img ng-src="/images/icons/144/advertising-144.png" alt="no departments"/>
                    <h4>No Departments Found</h4>
                    <a href="#/editor?is_page=true&id=null&is_fresh=true&dept&faculty={{posts.id}}" class="btn btn-success btn text-bold"><i class="fa fa-plus-square"></i> Add Department</a>
                </center>
            </div><!-- /.box-body -->
        </div>

        <div class="box box-warning" ng-if=is_dept>
            <div class="box-header with-border">
                <h3 class="box-title">Parent Faculty</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list">
                    <li>
                        <a href="#/editor/?is_page=true&id={{posts.faculty.id}}" class="text">
                            <i class="fa fa-circle-o text-red"></i> {{ posts.faculty.name}}</a>

                    </li>
                </ul>

                <center ng-if="posts.departments.length == 0">
                    <img ng-src="/images/icons/144/advertising-144.png" alt="no departments"/>
                    <h4>No Departments Found</h4>
                    <a href="#/editor?is_page=true&id=null&is_fresh=true&dept&faculty={{post.id}}" class="btn btn-success btn text-bold"><i class="fa fa-plus-square"></i> Add Department</a>
                </center>
            </div><!-- /.box-body -->
        </div>

    </div>
    <div class="" ng-include="'partials/components/delete_dialog.html'">

</section>
