<section ng-controller="PortalController">

      <div class="col-lg-10 col-lg-offset-1">
      <br/>
      <br/>
      <br/>
      <center>
      <h3>Welcome</h3>
      <p>Choose any of the options below to get started</p>

    </center>
    </div>

    <div class="row col-lg-10 col-lg-offset-1 view-container">

        <div class="view-frame">
            <div class="col-lg-6 col-xs-6 col-lg-md-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h2 class="text-bold">News & Notices</h2>
                        <p>Manage News and Notices on the website</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <a href="#/posts" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-xs-6 col-lg-md-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h2 class="text-bold">Faculty Content Manager</h2>
                        <p>Manage content of faculties</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <a href="#/faculty" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

             <div class="col-lg-6 col-xs-6 col-lg-md-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h2 class="text-bold">User</h2>
                        <p>Manage user accounts</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users "></i>
                    </div>
                    <a href="#/users" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

             <div class="col-lg-6 col-xs-6 col-lg-md-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h2 class="text-bold">Logout</h2>
                        <p>Close your session</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-lock "></i>
                    </div>
                    <a href="/auth/logout" class="small-box-footer">
                        Click here <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

        </div>

    </div>

</section>
