<section ng-controller='PortalController' ng-init='getPosts(null, false, "true")'>
    <div class="col-lg-12 text-center">
        <h2 class="">Faculty Content Manager</h2>
        <h5>Manage faculty pages on the go!</h5>


    </div>
    <section>
        <div class="col-lg-12 ">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <a href="#/editor/?is_page=true&is_fresh=true" class="btn btn-warning btn-md text-bold"><i class="fa fa-plus-square"></i> New Page</a>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" ng-bind-html="faculty.content">

                </div><!-- /.box-body -->

            </div>

        </div>
        <div class="col-lg-12 col-lg-offset-1j">
            <div class="curriculum-group" id="post-box-{{faculty.id}}" ng-repeat="faculty in posts">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                             <i ng-show="faculty.is_published == 1" class="pub-{{faculty.id}} fa fa-cloud-upload text-green"></i> 
                            <i ng-show="faculty.is_published == 0" class="unpub-{{faculty.id}} fa fa-cloud-download text-red"></i>
                            {{ faculty.name}}
                        </h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a href="#/editor/?is_page=true&id={{faculty.id}}&is_faculty=true" class="btn btn-default btn-xs text-bold"><i class="fa fa-edit"></i> Edit</a>

                                <button type="button" class="btn btn-danger btn-xs text-bold" ng-click="deleteDialogUI(faculty.id, 'faculty')"><i class="fa fa-trash-o"></i> Delete</button>
                            </div>

                            <button ng-show="faculty.is_published == 1" class="unpub-{{faculty.id}} btn btn-danger btn-xs" ng-click="publish(faculty.id, 0, true)"><i class="fa fa-download"></i> Unpublish</button>
                            <button ng-show="faculty.is_published == 0" class="pub-{{faculty.id}} btn btn-success btn-xs" ng-click="publish(faculty.id, 1, true)"><i class="fa fa-upload"></i> Publish</button>
                        </div>

                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="btn-group margin" id="dept-box-{{dept.id}}" ng-repeat="dept in faculty.departments">
                            
                                <a href="#/editor/?is_page=true&id={{dept.id}}&dept={{dept.id}}" class="btn btn-xs btn-info-outline">
                                <i ng-if="dept.is_published == 1" class="fa fa-globe text-green"></i> {{ dept.name}}</a>
                            <button type="button" class="btn btn-xs btn-info-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-click="deleteDialogUI(dept.id, 'department')" class="cursor text-danger text-bold"><i class="fa fa-trash-o"></i> Delete</li>
                                <li ng-if="dept.is_published == 1"  class="cursor text-danger text-bold" ng-click="publish(dept.id, 0, 'dept')"><i class="fa fa-download"></i> Unpublish</li>
                                <li ng-if="dept.is_published == 0"  class="cursor text-success text-bold" ng-click="publish(dept.id, 1, 'dept')"><i class="fa fa-upload"></i> Publish</li>

                            </ul>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 pull-right bg-blue text-center rounded">
                            <h1>{{faculty.departments.length}}</h1>
                            <h5>Departments</h5>
                        </div>
                    </div>

                    <div class="box-footer">
                        <a href="#/editor/?is_page=true&id=null&is_fresh=true&dept&faculty={{faculty.id}}" class="btn btn-success btn-xs text-bold"><i class="fa fa-plus-square"></i> Add Department</a>

                    </div>



                </div>
            </div>

        </div>

       

        <div class="" ng-include="'partials/components/delete_dialog.html'">

        </div>

    </section>

</section>
