<section ng-controller='PortalController' ng-init='getPosts()'>
    <div class="col-lg-12 text-center" ng-if="posts.length > 0">
        <h2 class="">Notice and Posts Manager</h2>
        <h5>Manage notices, news and events on the go!</h5>


    </div>
    <section>
        <div class="col-lg-12 " ng-if="posts.length > 0">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <a href="#/editor?is_fresh=true" class="btn btn-warning btn-md text-bold"><i class="fa fa-plus-square"></i> New Post</a>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body" ng-bind-html="faculty.content">

                </div><!-- /.box-body -->

            </div>

        </div>
        <div class="col-lg-12 col-lg-offse" ng-if="posts.length == 0">
            <br/>
            <br/>
            <br/>
            <center>
                <img src="icons/256/news-256.png" alt="trash bin image" />
                <h3>No News</h3>
                <p>Its seems nothing has been posted lately, click below to get started</p>

                <a href="#/editor?is_fresh=true" class="btn btn-success btn-lg btn-pill text-bold"><i class="fa fa-plus-square"></i> GET STARTED</a>


            </center>
        </div>
        <div class="col-lg-12">
            <div class="curriculum-group" id="post-box-{{post.id}}" ng-repeat="post in posts">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i  ng-show="post.is_published == 1" class="unpub-{{post.id}} fa fa-cloud-upload text-green"></i> 
                            <i ng-show="post.is_published == 0" class="pub-{{post.id}} fa fa-cloud-download text-red"></i> 
                            {{ post.heading}}
                        </h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <a href="#/editor/?id={{post.id}}" class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i> Edit</a>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteDialogUI(post.id, 'news')"> <i class="fa fa-trash-o"></i> Delete</button>
                            </div>

                            <button ng-show="post.is_published == 1" type="button" class="unpub-{{post.id}} btn btn-danger btn-xs" ng-click="publish(post.id, 0, false)"><i class="fa fa-download"></i> Unpublish</button>
                            <button ng-show="post.is_published == 0" type="button" class="pub-{{post.id}} btn btn-success btn-xs" ng-click="publish(post.id, 1, false)"><i class="fa fa-upload"></i> Publish</button>

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div ng-bind-html=post.content class='post-summary'></div>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>

        <div class="" ng-include="'partials/components/delete_dialog.html'">


    </section>

</section>
