<section ng-controller="UserController" ng-init=getUsers()>

    <div class="col-lg-12 text-center">
        <h2 class="">Users</h2>
        <h5>Manage user accounts!</h5>
    </div>
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">

                <button class="btn btn-primary btn-md pull-right" onclick=openModal("#newUserDialogModal")>Add User</button>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table">
                    <tbody><tr>

                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="user in users">
                            <td class="text-bold">{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td> {{user.role}}
                            </td>
                            <td>
                                 <span class="btn btn-xs bg-green" ng-if=user.status!='activated' ng-click="update(user.id,'status','activated')">Activate</span>
                                <span class="btn btn-xs bg-red" ng-if=user.status=='activated' ng-click="update(user.id,'status','deactivated')">Deactivate</span>
                            </td>
                            

                    </tbody></table>
            </div><!-- /.box-body -->
        </div>
    </div>
    <div class="" ng-include="'partials/components/new_user_dialog.html'">

    </div>

</section>
